@font-face {
    font-family: 'SF_IceMango';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2106@1.1/SF_IceMango.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

html {
    box-sizing: border-box;
    background-color: #FFF4D9;
}

header {
    position: relative;
    text-align: center;
    background-color: #FFF4D9;
}

#headerNav {
    position: absolute;
    display: inline-block;
    vertical-align: middle;
    top: 0;
    right: 0;
    padding: 20px;
}
  
#title {
    display: inline-block;
    vertical-align: middle;
    font-family: 'SF_IceMango';
    color: #FFB800;
    font-size: 64px;
    margin: 0.5rem;
    height: 48px;
    text-shadow: -2px 0 antiquewhite, 0 2px antiquewhite, 2px 0 antiquewhite, 0 -2px antiquewhite;
}
  
#headerList {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

header {
    padding: 20px;
}

#ChatButton {
    color: black;
    font-size: 22px;
    text-decoration: none;
    border-right: 2px solid black;
    display: block;
    text-align: center;
    margin: .25rem;
    padding: .5rem 2rem;
}

#ChatButton:hover {
    font-weight: bold;
}

#ChatIcon {
    color: gray;
    margin-right: 12px;
}

#MyPageButton {
    color: #FFB800;
    font-size: 22px;
    text-decoration: none;
    display: block;
    text-align: center;
    margin: .25rem;
    padding: .5rem 2rem;
}

#MyPageButton:hover {
    font-weight: bold;
}

#MyPageIcon {
    margin-right: 12px;
}

#mainBox {
    background-color: #FFF4D9;
}

#menuBar {
    padding-left: 64px;
    padding-right: 64px;
    display: flex;
    justify-content: space-between;
    background-color: #FFF4D9;
}

.menuButton {
    text-decoration: none;
    color: black;
    padding-left: 24px;
    padding-right: 24px;
}

.menuButton:hover {
    color:black;
}

.meunuIcon {
    margin: 6px;
    margin-top: 2px;
}

#menuList {
    display: flex;
    padding: 15px;
    border-bottom: 1px solid black;
}

#searchBox {
    display: flex;
    justify-content: space-between;
    background-color: white;
    border: 2px solid black;
    border-radius: 16px;
    height: 32px;
}

#searchInput {
    width: 360px;
    border: 0;
    outline: 0;
    border-radius: 16px;
    margin-left: 6px;
}

#searchButton {
    border-radius: 15%;
    margin: 6px;
}

#eventBox {
    position: relative;
    display: grid;
    grid-template-columns: 100% 100% 100%;
    overflow: hidden;
}

.eventEx {
    display: grid;
    grid-template-columns: 50% 50%;
    height: 420px;
    padding-top: 32px;
    background-color: #FFF4D9;
}

#evex1 {
    display: grid;
}

#evex2 {
    display: grid;
}

#arrowBox {
    position: absolute;
    display: flex;
    width: 100%;
    height: 64px;
    margin-top: 210px;
    padding-left: 18px;
    padding-right: 18px;
    justify-content: space-between;
    color: gray;
}

.eventImgBox {
    width: 100%;
    height: 420px;
    box-shadow: 0px 3px 3px #ccc7bd;
    overflow: hidden;
}

.eventImg {
    width: 100%;
    height: 420px;
    display: block;
}

.eventDetail {
    height: 420px;
    padding-top: 32px;
    font-size: 16px;
    padding-left: 56px;
    padding-right: 96px;
    background-color: #FFE8C4;
    box-shadow: 0px 3px 3px #ccc7bd;
    overflow: hidden;
}

.eventHost {
    display: flex;
    margin-top: -16px;
}

.hostImg {
    height: 42px;
    width: 42px;
    border-radius: 6px;
}

.hostName {
    margin-top: 10px;
    margin-left: 6px;
    font-weight: bold;
}

.eventTitle {
    font-size: 24px;
    line-height: 196%;
    margin-bottom: 12px;
    font-weight: bold;
}

#boardTop {
    display: flex;
    justify-content: center;
    background-color: #FFF4D9;
    margin-right: 0;
    margin-left: 0;
    padding-left: 64px;
    padding-right: 64px;
}

#boardName {
    background-color: #FFF4D9;
    padding-top: 16px;
    margin-bottom: 0px;
    font-weight: bolder;
}

.topCatBox {
    width: 960px;
    display: flex;
    justify-content: space-evenly;
    background-color: #FFF4D9;
    padding-top: 16px;
}

.topCat {
    font-weight: bold;
    list-style: none;
    text-align: center;
    height: 24px;
    border-radius: 8px;
    padding: 0px 12px 0px 12px;
    cursor: pointer;
}

#nomeaning {
    width: 160px;
    height:1px;
    margin-left: 64px;
}

#bodyBox {
    display: flex;
    justify-content: center;
    width: auto;
    height: auto;
    padding-left: 64px;
    padding-right: 64px;
    padding-top: 32px;
    padding-bottom: 64px;
    background-color: #FFF4D9;
}

#postBox {
    width: 960px;
    height: auto;
    margin-right: 64px;
}

#realUploadBox {
    width: auto;
    height: auto;
    background-color: #FFE8C4;
    border-radius: 16px;
    box-shadow: 0px 3px 3px #ccc7bd;
    padding-bottom: 8px;
}

#uploadBox {
    display: flex;
    justify-content: space-between;
}

#uploadWrapper {
    display: flex;
    width: 100%;
}

.profileImg {
    height: 36px;
    width: 36px;
    border-radius: 6px;
    margin: 6px;
}

#upload {
    display: flex;
    justify-content: space-between;
    background-color: white;
    border-radius: 6px;
    height: auto;
    width: 100%;
    margin: 8px;
    margin-right: 16px;
    margin-left: 2px;
}

#uploadProfile {
    margin-top: 8px;
    margin-left: 8px;
}

#uploadInput {
    border: none;
    outline: none;
    width: 100%;
    border-radius: 6px;
    resize: none;
    overflow: hidden;
}

#uploadInput:focus {
    height:fit-content;
}

#uploadButton {
    height: 20px;
    width: 20px;
    margin: 6px;   
    color: #FFB800;
}


.categories {
    display: flex;
    justify-content:space-evenly;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 8px;
}

.myCategory {
    font-weight: bold;
    list-style: none;
    text-align: center;
    height: 24px;
    border-radius: 8px;
    padding: 0px 12px 0px 12px;
    cursor:default;
}

.catButton {
    font-weight: bold;
    list-style: none;
    text-align: center;
    height: 24px;
    border-radius: 8px;
    padding: 0px 12px 0px 12px;
}

.cBOn {
    color: black;
    background-color: #FFB800;
}

.cBOff {
    color: #8F8E8E;
    background-color: #FFDC91;
}

#imageUploadWrapper {
    position: relative;
}

#uploadImage {
    height: 32px;
    width: 28px;
    color: #FFB800;
    margin: 8px 12px 6px 0px;
}

#image_upload {
    width:0px;
    height:0px;
    position: absolute;
}

#preview {
    display: none;
}

.previewImg {
    padding-top: 8px;
}

#postListBox {
    margin-top: 16px;
    width: auto;
    height: auto;
}

.postEx {
    background-color: #FFE8C4;
    border-radius: 16px;
    box-shadow: 0px 3px 3px #ccc7bd;
    width: 100%;
    height: auto;
    margin-bottom: 16px;
    padding-top: 6px;
}

.postClick {
    color: black;
    text-decoration: none;
}

.uploader {
    display: flex;
    margin-left: 10px;
}

.uploaderName {
    color: black;
    margin: 10px;
    margin-left: 6px;
    font-weight: bold;
}

.postContent {
    color: black;
    padding-left: 16px;
    padding-right: 16px;
    margin-bottom: 8px;
    width: 100%;
    font-size: 20px;
}

.postImg {
    width: 100%;
    height: auto;
}

#bodySideBox {
    width: 160px;
    height: auto;
}

#myProfileBox {
    background-color: #FFE8C4;
    width: 160px;
    border-radius: 16px;
    padding: 16px;
    box-shadow: 0px 3px 3px #ccc7bd;
    margin-bottom: 64px;
}

#myProfileImg {
    width: 128px;
    height: 128px;
}

#myProfileName {
    width: 128px;
    height: 36px;
    margin-top: 12px;
    padding-top: 6px;
    background-color: #f1cc91;
    text-align: center;
    font-weight: bold;
    border-radius: 6px;
}

#adBox {
    padding: 5px;
    padding-bottom: 10px;
    width: 160px;
    height: auto;
    background-color: white;
}

.adEx {
    margin-right: auto;
    margin-left: auto;
    position: relative;
    width: 150px;
}

.adImg {
    width: 100%;
    box-shadow: 0px 3px 3px #707070;
}

.adMark {
    font-size: 12px;
    text-align: center;
    position: absolute;
    background-color: rgb(168, 168, 168);
    color: white;
    width: 24px;
    height: 18px;
}

footer {
    text-align: center;
    padding-top: 22px;
    height: 72px;
    background-color: black;
    color: white;
}